@CHARSET "UTF-8";

.minwid-div{
	min-width: 1110px;
}

.left-div{
	float: left;
	width: 12%;
	height: 100%;
	position: fixed;
	min-width: 153px;
}

.right-div{
	float: right;
	width: 88%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	min-width: 800px;
	z-index: 2;
}

.left-temp-div{
	width: 100%;
	height: 90%;
	margin: 0;
	border: 0px solid #ccc;
	border-right: 1px solid #ccc;
}

.left-inside-div{
	width: 100%;
	height: 450px;
	border: 0px solid #ccc;
	margin: 0px auto;
	margin-top: 5px;
}

.left-inside-top-div{
	width: 100%;
	height: 300px;
	border: 0px solid #ccc;
	padding: 0px;
	padding-top: 2px;
	padding-left: 0px;
}

.welcome-div{
	margin-left: 16px;
	margin-top: 20px;
}

.left-inside-middle-div{
	width: 100%;
	height: 50px;
	border: 0px solid #ccc;
	margin-top: 5px;
}

.hibar-menu-ul{
	width: 100%;
	height: 100%;
	padding: 20px 0px;
}

.hibar-menu-li{
	width: 100%;
	padding: 10px 0px;
	font-size: 14px;
	padding: 3px 6px;
	border: 2px solid #FFFFFF;
}

.hibar-menu-li:hover, .hibar-menu-li-hover{
	border: 2px solid #0066CC;
	background-color: #0066CC;
	cursor: pointer;
	color: #FFFFFF;
}

.right-main-div{
	border: 0px solid #F0F0F0;
	width: 90%;
	height: 80%;
	margin: 0px auto;
	margin-top: 30px;
}

.right-main-left-div{
	border: 0px solid #F0F0F0;
	width: 70%;
	height: 100%;
	float: left;
}

.right-main-right-div{
	border: 1px solid #F0F0F0;
	width: 30%;
	height: 100%;
	float: right;
	border-left: 0px;
	background-color: #97CBFF;
}

.scroller-main-div{
	margin-top: 50%;
}

.right-main-left-banner-div{
	border: 1px solid #F0F0F0;
	width: 100%;
	height: 60%;
}

.right-main-left-note-div{
	border: 1px solid #F0F0F0;
	width: 100%;
	height: 40%;
	border-top: 0px;
}


