@CHARSET "UTF-8";

.minwid-div{
	min-width: 1110px;
}

.left-div{
	float: left;
	width: 18%;
	height: 100%;
	position: fixed;
	min-width: 210px;
}

.right-div{
	float: right;
	width: 82%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	min-width: 800px;
	z-index: 2;
}

.left-temp-div{
	width: 100%;
	height: 90%;
	margin: 0;
	border: 0px solid #ccc;
	border-right: 1px solid #ccc;
}

.left-inside-div{
	width: 200px;
	height: 450px;
	border: 0px solid #ccc;
	margin: 0px auto;
	margin-top: 5px;
}

.left-inside-top-div{
	width: 100%;
	height: 50px;
	border: 0px solid #ccc;
	padding: 0px;
	padding-top: 2px;
	padding-left: 0px;
	color: #FFFFFF;
}

.welcome-div{
	margin-left: 16px;
	margin-top: 20px;
}

.left-inside-middle-div{
	width: 100%;
	height: 300px;
	border: 0px solid #ccc;
	margin-top: 5px;
}

.hiplayground-menu-ul{
	width: 100%;
	height: 100%;
	padding: 20px 10px;
}

.hiplayground-menu-li{
	width: 100%;
	padding: 10px 0px;
	font-size: 14px;
	padding: 3px 6px;
	border: 2px solid #FFFFFF;
}

.hiplayground-menu-li:hover{
	border: 2px solid #F0AD4E;
	cursor: pointer;
	color: #F0AD4E;
}

.right-top-div{
	width: 100%;
	height: 70px;
}

.right-top-tip-div{
	background-color: #FFFF6F;
	width: 100%;
	height: 24px;
	color: #FF2D2D;
	line-height: 24px;
	padding-left: 20px;
}

.right-top-search-div{
	width: 100%;
	height: 46px;
}

.search-div{
	width: 240px;
	height: 36px;
	float: right;
	border-radius:18px;
	border: 1px solid #F0F0F0;
	margin-top: 10px;
	margin-right: 10px;
}

.search-input{
	width: 190px;
	height: 24px;
	line-height: 24px;
	border: 0px solid #F0F0F0;
	margin-top: 5px;
	margin-left: 20px;
	outline: none;
	font-size: 12px;
}

.right-inside-div{
	width: 100%;
	padding: 10px;
	padding-right: 40px;
}

.hiplayground-ul{
	width: 100%;
	margin-top: 10px;
	padding-left: 0px;
}

.hiplayground-li{
	border: 0px solid #F0F0F0;
	width: 23%;
	height: 180px;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 10px;
	float: left;
}

.hiplayground-div{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: relative;
}

.hiplayground-tip-div{
	background: rgba(255,255,255,0.8);
	width: 100%;
	height: 0px;
	position: absolute;
	bottom: 0px;
	padding: 4px 20px;
	display: none;
}

.shop-title{
	color: #ff4400;
	font-weight: bold;
	display: block;
}

